<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-left"></i> Back To Dashboard
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class=" card-header">
    Add Client
  </div>
  <div class="card-body">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type = "text"
          class = "form-control"
          name = "firstName"
          #clientFirstName = "ngModel"
          [ngClass] = "{ 'is-invalid': clientFirstName.errors && clientFirstName.touched }"
          [()ngModel]
          minlength="2"
          required
        >
        <div [hidden]= "!clientFirstName.errors?.required" class=" invalid-feedback">
          Must be 2
        </div>
      </div>
    </form>
  </div>
</div>
